h1{
    font-size: 50px;
}
h2{
    font-size: 40px; 
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
#link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, yellow, orange);
    padding: 15px 30px  ;
    border-radius: 8px;
    font-weight: 700;
    color:blue;
}
.image{
    float: left;
    width: 33.33%;
    padding: 10px;    
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
* {
    box-sizing: border-box;
  }
body{
    font-family: 'Josefin Sans', sans-serif;
}
.name-highlight{
    color: orangered;
}